<% if lead.errors.any? %>
  <div class="bg-green">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: lead.errors.count,
                 resource: lead.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>