<h2>Hello Mr.<%= @user[:first_name] %>,</h2>
<br>
<p> Your account have been successfully created.</p>
<p> Email: <b><%= @user[:email] %></b></p>
<p> Passwd: <b><%= @user[:password] %></b></p>
<p><a href="http://localhost:3000">Visit for login</a> </p>
<br>
<p> Thank You</p>