<div class="justify-content-center bg-white mx-4">
  <h3 class="text-center text-info">Show Phase</h3>
  <div class="mx-4">
    <p>
      <strong>Phase Name:</strong>
      <%= @engineer.phase.name %>
    </p>
    <p>
      <strong>Engineer Name:</strong>
      <%= @engineer.user.user_name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @engineer.description %>
    </p>
    <p>
    <%= link_to 'Back', phase_phase_users_path(@engineer.phase_id), class: "btn btn-info" %>
  </div>
</div>

