<%= form_with model: @role, local: true, class: "form col-sm-6 " do |f| %>
  <h3 class="text-center text-info">Create Role</h3>
  <%= f.label :name,'Role Name', class: "text-info my-1" %>
  <%= f.text_field :name, class: "form-control", required: true %>
  <%= f.submit  "Submit", class: "btn btn-info btn-md"  %>
<% end %>