<% if @phase.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                count: @phase.errors.count,
                resource: @phase.class.model_name.human.downcase)
      %>
    </h2>
    <ul>
      <% @phase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>